window {
    margin: 0px;
    border: none;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
}

#input {
    margin: 5px;
    border: none;
    color: #d8dee9;
    background-color: #3b4252;
}

#inner-box {
    margin: 5px;
    border: none;
    background-color: rgba(40, 44, 52, 0.4);
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    font-family: Fira Code Nerd Font;
    font-size: 15px;
    margin: 5px;
    border: none;
    color: #d8dee9;
}
